<h1 class="text-center">list of pins</h1>

<table  class="table text-center">
    <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Collaborators</th>
        <th>Privacy</th>
    </tr>

    <tr *ngFor="let item of pinsData">
        <td>{{item.title}}</td>
      <td><img src="{{item.img.img}}" class="image" alt="{{item.img.img}}"></td>
        <td >
            <ul>
                <li *ngFor="let xyz of item.collaborators" style="list-style-type: none">{{xyz}}</li>
            </ul>
        </td>
        <td>{{item.privacy}}</td>
    </tr>
</table>

<div class="text-center">

<button [routerLink]="['/create-customer']" routerLinkActive="router-link-active" class="btn btn-secondary">+ Add Customer</button>
<button [routerLink]="['/addPin']" routerLinkActive="router-link-active" class="btn btn-secondary">+ Add pin</button>

</div>

<div class="text-center">
<button (click)="forpin()"  class="btn-secondary btn">+ Create pin</button>
<button (click)="forCustomer()" class="btn-secondary btn">+ Create customer</button>
</div>


<div *ngIf="forCustomerr" class="overlay">
  <app-create-customer></app-create-customer>
</div>


<div *ngIf="forpinn" class="overlay">

    <app-add-pin></app-add-pin>
  </div>
  